.row {
	width: 100%;
	margin: 16px 0;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.space-between {
	display: flex;
	justify-content: space-between;
}